<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script src="Scripts/angular.min.js"></script>
</head>
<body ng-app="myapp">
    <div ng-controller="mainctrl as ctrl">
        <form name="empform" ng-submit="ctrl.send()">
            ID : <input type="text" name="userid" ng-model="ctrl.user.uid"
                           required ng-minlength="6"/>
            <span style="color:red" ng-show="empform.userid.$error.required">*</span>
            <span style="color:red" ng-show="empform.userid.$error.minlength">最小長度6碼</span>
            <p />
            Email : <input type="email" name="usermail" ng-model="ctrl.user.email"
                   required />
            <span style="color:red" ng-show="empform.usermail.$error.required">*</span>
            <span style="color:red" ng-show="empform.usermail.$error.email">格式錯誤</span>
            <p />
            <input type="submit" value="send" ng-disabled="empform.$invalid" />
        </form>
    </div>
    <script>
        var app = angular.module('myapp', []);
        app.controller('mainctrl', [
            function () {
                var self = this;
                self.send = function () {
                    console.log('data send:' + self.emp);
                };
            }
        ]);
    </script>
</body>
</html>
