<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <script src="Scripts/angular.min.js"></script>
</head>
<body ng-app="myapp">
    <div ng-controller="ParentCtrl">
        ParentController: <input type="text" ng-model="p.empname" />
        <div ng-controller="ChildCtrl">
            ChildController: <input type="text" ng-model="c.empname" />
        </div>
    </div>
    <script>
        var app = angular.module('myapp', []);
        app.controller('ParentCtrl', function ($scope) {
            $scope.p = {
                empname: "ian"
            };
        })
        .controller('ChildCtrl', function ($scope) {
            
        });
    </script>
</body>
</html>
